.cell-wrapper{
    width :230px;
    height: 320px;
    background-color: white;
    border : 1px solid transparent;
    display : flex;
    flex-direction: column;
    position: relative;
}

.cell-wrapper:hover{
    border : 1px solid #949494
}



.cell-image{
    width : 100%;
    height : 200px;
    aspect-ratio: 1 / 1; 
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-image-inner{
    width : 95%;
    height : 95%;
    aspect-ratio: 1 / 1; 
    background-color: pink;
}


.cell-product-name{
    text-align: left;
    font-size : 15px;
    font-weight: 700;
    margin-top : 5px;
}

.cell-product-price{
    font-size : 24px;
    text-align: left;
    
}

.font-discount-highlight{
    color : red;
}

.pre-price-tag{
    font-size : 15px;
    font-style :italic;
    text-decoration: line-through;
    text-align: left;
}

.discount-tag{
    font-size : 15px;
    text-align: left;
    color : red;
}

.sold-out-tag{
    font-size : 15px;
    text-align: left;
    color : red
}

.sold-out-hightlight{
    
}

.price-row{
display: flex;
  align-items: center;
  gap: 8px;
}