.cart-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: #d1d1d1; */
  background-color: white;
  display : flex;
  justify-content: center;
  flex-direction: row;
}

.cart-center-zone{
    width : 1100px;
    min-height : 100%;
    background-color: white;
    border : 1px solid #c4bfbf;
    margin-top : 100px;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.cart-purchase-button{
    width: 300px;
    height: 50px;
    font-size: 15px;
    background-color: #2AB9E0;
    font-weight: 1000;
    margin-left: 6px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s;
    border: 2px solid #2a97e0;
    border-radius: 3px;

    
}

.cart-purchase-text{
    font-size: 20px;
}

.cart-purchase-button:hover{
    transition: background-color 0.2s;
    background-color: #2a97e0; 
    cursor: pointer;
}

.cart-empty{
    display: flex;
    font-size : 20px;
    font-weight : 1000px;
    color : #bbbbbb;
    height : 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cart-cell-soldout{
    background-color: gray;
}

