.offer-image{
    width : 500px;
    height : 400px;
    border : 1px solid black;
    background-color: pink;
    aspect-ratio: 1 / 1; 
    position: relative;
}

.offer-extra-zone{
    width : 500px;
    height : 400px;
    display : flex;
    flex-direction: column;
    border : 1px solid green;
}

.offer-product-name{
    font-size : 35px;
    font-weight: 700;
    text-align: left;
    border : 1px solid red;
}

.offer-product-description{
    font-size : 18px;
    text-align: left;
    width : 400px;
    margin-top : 10px;
    border : 1px solid red;
}

.offer-product-price{
    font-size : 25px;
    font-weight: 600;
    text-align: left;
    border : 1px solid red;
}

.offer-product-button-zone{
    width : 100%;
    height : 60px;
    border : 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top : auto;
}

.offer-discount-exclusive-section{
    display: flex;
    border : 1px solid red;
}

.offer-pre-discount{
    font-size : 18px;
    font-weight: 700;
    text-decoration: line-through;
    color : #8b8b8b
}

.offer-discount-rate{
    font-size : 18px;
    font-weight : 700;
    color : red;
    padding-left : 10px;
}

.discount-highlight{
    color : red;
}

.offer-button{
    width : 100px;
    height : 40px;
    font-size : 18px;
    background-color:#2AB9E0;
    font-weight : 700;
    margin : 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border : 2px solid #2a97e0;
    border-radius: 10px;
}

.soldout-highlight{
    background-color: gray;
    color : rgb(207, 207, 207);
}

.offer-check-chat:hover{
    background-color: #2a97e0;
    cursor: pointer;
}

.offer-add-cart:hover{
    background-color: #2a97e0;
    cursor: pointer;
}

.soldout-tag{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 50px;
    font-size :  20px;
    font-weight: 700;
    position: absolute;
    top : 100%;
    transform: translate(0%, -100%);
    margin-top : auto;
    background-color: #adadad;  
    opacity: 0.5;
}